<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="container">
     {%  if result['status'] == "Failed"  %}
        <h2> It happened something very terrible </h2>
     {% else %}
        <h2> Congratulations! </h2>
     {% end %}
        <p class> {{ result['message'] }} </p>
     <a href="/" class="btn btn-info" role="button"> Try again </a>
     </div>
</body>
</html>