<!DOCTYPE html>
<html>
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>Upload Form</title>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">

</head>
<body>
    <div class="container">
        <h2> Download from url and upload on Dropbox</h2>
        <form enctype="multipart/form-data" action="/" method="post" role="form">
            {% module xsrf_form_html() %}
            <div class="form-group">
                <label for="file_url"> Url for file download</label>
                <input name="file_url" id="file_url" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="file_name"> Input file name </label>
                <input name="file_name" id="file_name" class="form-control" required/>
            </div>
            <div class="form-group">
            <a href="{{ authorize_url  }}" id="auth_url" target="_blank" class="alert-link">Go throw this link and get code </a>
            </div>
            <div class="form-group">
            <label for="code"> Enter code from previous url </label>
            <input type="text" name="code" id="code" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>
</html>